.page-album {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.music-card {
  display: flex;
  justify-content: space-evenly;

}

.audi {
  position: relative;
  right: 70px;
}

.music-card p {
  align-items: center;
  align-self: center;
  color: black;
  display: flex;
  font-weight: 900;
  height: 10px;
  justify-content: space-around;
  position: relative;
  width: 30%;

}

.music-card label {
  align-items: center;
  color: black;
  display: flex;
  font-weight: 900;
  justify-content: center;
  width: 150px;

}

.music-card input {
  position: relative;
  right: 130px;
  width: 50px;
}

audio {
  align-content: center;
  align-items: center;
  background-color: rgb(214, 38, 38);
  border-radius: 30px;
  box-shadow: 2px 4px 6px 0 black;
  display: flex;
  justify-content: center;
  width: 30%;
}

audio:hover, audio:focus, audio:active {
  box-shadow: 15px 15px 30px black;
  transform: scale(1.05);
}

.like > input {
  visibility: hidden;
}

.like > input + i {
  background: url('./heart.png') no-repeat;
  background-size: cover;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  transition: 0.5s;
  width: 25px;
}

.like > input:checked + i {
  background: url('./heart1.png') no-repeat;
  background-size: cover;
}

