.loading {
  align-content: center;
  align-items: center;
  animation: is-rotating 1s infinite;
  border: 6px solid #2600ff;
  border-radius: 50%;
  border-top-color: black;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
}

.text-loading {
  visibility: hidden;
}

@keyframes is-rotating {

  to {
    transform: rotate(1turn);
  }
}

